*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;

}
.container{
  display: grid;
  place-items: center;

}
.front{
  width: 30vw;
  height: 50vh;
  background-color: rgb(39, 52, 53);
  margin-top: 25vh;
  display: grid;
  color: white;
  margin: auto;
  place-items: center;
  
}
.entry{
  background-color: rgb(240, 13, 89);
  padding: .2rem .3rem;
  border: palevioletred;
  border-radius: .15rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.chat{
    display: flex;
    flex-direction: row-reverse;
margin-left: 40px;
    justify-content: space-between;
}
.sidebar{
  background-color: aquamarine;
  width: 40%;
  height: 100vh;
}
.chatroom{
  width: 50%;
  height: 60vh;
  background-color: rgb(39, 52, 53);
  margin-top: 20vh;
  color: white;
}
.head{
  height: 15%;
  background-color: crimson;
}
.chats{
  height: 70%;
 border-bottom: 1px solid blanchedalmond;
}
.input2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
margin-right:  1rem;
}
.input2 input{  
  height: 2rem;
  width: 60%;
 
}
.send{
  height: 2rem;
  width: 5rem;
  border-radius: .2rem;
  border: white;
  cursor: pointer;
}
.messag{
  
 
  border-radius: .1rem;
  height: 1.5rem;
  padding: 2px 5px;

}
.left{
  
  color: rgb(8, 219, 71);
 
}
.right{
  
  color: rgb(236, 7, 45);
  margin-left: 100px;
 
}
.left p{
  display: inline-block;
  margin: .2rem .6rem;
  padding: 0 .3rem;
  background-color: rgb(37, 211, 102);
}
.right p{
  background: wheat;
  margin: .2rem .6rem;
  padding: 0 .3rem;
}
.chats{
  overflow-y: scroll;
}
.head h1{
  line-height: 30px;
  align-self: center;
}
.head{
  text-align: center;
}
/* register */

.eye{
  transform: translate(46vw,-40px);
}
/* login form */
.register{
  min-height: 100vh;
  display: flex;
  width: 100vw;

  align-items: center;
  flex-direction: column;
  background-color: aqua;
  gap: 20px;
  padding: 30px;
}
.form{
  width: 40%;
  background-color: white;
  padding: 10px 0 10px 40px;
  border-radius: 15px;
  height: auto;
  margin-bottom: 80px;
}
.form h3{
  font-family: cursive;

}
.submit{
  width: 80px;
  padding: 4px 8px;
  background-color: blue;
  color: white;
  border-radius: 30px;
 cursor: pointer;
  border: none;
}
.submitdiv{
  display: flex;
  flex-direction: row;
 
  
}
.loginsubmit{
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.select-wrapper{
  position: relative;
  display: inline-block;

  font-family: Arial, sans-serif;
}

.select-wrapper label {
  position: absolute;
  top: -1em;
  left: 1em;
  padding: 0 0.5em;
  background-color: #fff;
  color: rgba(128, 128, 128, 0.854);
  font-size: 0.8em;
  pointer-events: none;
}

.select-wrapper select {
  width: 100%;
  padding: .5em;
  border: none;
  border-radius: 0.5em;
  height: fit-content;
  background-color: white;
  border: rgba(128, 128, 128, 0.296) 1px solid ;
  
  appearance: none;
}

.select-wrapper select:focus {
  outline: none;
}

.select-wrapper select:hover {
  cursor: pointer;
}

/* chatui */
.main{
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #658FFF;
}
.chatui{
  display: flex;
  height: 80vh;
  flex-direction: row;
 width: 80vw;
 
}
.chatui>div:nth-child(1){
  background-color:#F9F9F9;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fisrtdiv>div:nth-child(1){

  height:20% ;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  align-items: center;
  gap: 10px;
}

.fisrtdiv>div:nth-child(2){
  height:10% ;
 margin: auto;
  
}
.fisrtdiv>div:nth-child(3){
  height:70% ;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 40px;
}
.user{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.chatui>div:nth-child(2){
  background-color: #FFFFFF;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondiv>div:nth-child(1){
  width: 100%;
  height: 15%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}
.secondiv>div:nth-child(1)>div:nth-child(1){
  display: flex;
  flex-direction: row;
 gap: 10px;
 
}
.secondiv>div:nth-child(2){
  width: 100%;
  height: 70%;

  display: flex;
  padding: 20px;
  flex-direction: column;
  overflow-y: scroll;
}
.left{
 text-align: left;
 color: black;
 width: 45%;
 display: flex;
 flex-direction: row;

}
.left p,.right p{
  border-radius: 5px;
}
.right{
  align-self: self-end;
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.form1{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.form1>div:nth-child(1){
  display: flex;
  gap: 20px;
}
.form1>div:nth-child(2){
  display: flex;
  gap: 10px;
} 
/* .chatui>div:nth-child(3){
  background-color: black;
  width: 25%;
  height: 100%;
}

.offline{
  visibility: hidden;
}
/* 
style={{width:"20px",height:"20px", margin:"auto",display:"grid",placeItems:"center" ,fontSize:"10px",borderRadius:"20px",backgroundColor:"#3D71FD"}} */
.notification{
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.notify{
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 1px;

}
.online{
  width: 10px;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 20px;
  transform: translate(20px,10px);
}
.block{
  display: block;
  transform: translateY(-400px);
}
.none{
  display: none;
}
.active{
  background-color: #4CAF50;
  padding: 0px 20px;
  border-radius: 5px;
}
@media screen and (max-width:1080px) {
  .chatroom{
    width: 80%;
    height: 90vh;
  }
  .left,.right{
    width: 90%;
  }
  .left p,.right p{
    font-size: 13px;
  }
  .chatui{
    flex-direction: column;
    height: 90vh;
  }
  .chatui>div:nth-child(1){
   
    width: 100%;
   height: 60%;

  }
  .chatui>div:nth-child(2){
    width: 100%;
  }
  .fisrtdiv>div:nth-child(3){

  }
  .secondiv>div:nth-child(1){
    background-color:#1F1F1F ;
  }
  .form{
    width: 100%;

  }
}